.TextDecorNone {
	text-decoration: none !important;
	color: white;
}

.Card {
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	width: 30vw;
	height: 50vw;
	border: 2px black solid;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #264485;

	@media screen and (max-width: 992px) {
		width: 45vw;
		height: 65vw;
	}

	@media screen and (max-width: 650px) {
		width: 90vw;
		height: 65vh;
	}
}

.Cost {
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 1rem;
}


.Image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: transform 0.5s ease;
	transform: scale(1);
	&:hover {
		transform: scale(1.2);
	}
}
.pic,
.Image,
.obr {
	box-sizing: border-box;
	display: inline-block;
	width: 30vw;
	height: 38vw;
	overflow: hidden;
}
@media screen and (max-width: 992px) {
	.pic,
	.Image,
	.obr {
		display: inline-block;
		width: 45vw;
		height: 48vw;
		border: 2px black solid;
		overflow: hidden;
	}
}
@media screen and (max-width: 650px) {
	.pic,
	.Image,
	.obr {
		display: inline-block;
		width: 90vw;
		height: 50vh;
		border: 2px black solid;
		overflow: hidden;
	}
}
.pic {
	transform: none;
	position: absolute;
	top: 8vh;
}
.obr {
	position: relative;
}
